@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your CSS file (index.css or App.css) */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


body {
    background-color: rgb(3, 3, 32);
    font-family: "Space Mono", monospace; 
    color: #c0b4b4;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

/* App.css */
.space-mono-regular {
    font-family: "Space Mono", monospace;
    font-weight: 400;
  }
  
  .space-mono-bold {
    font-family: "Space Mono", monospace;
    font-weight: 700;
  }
  
  .space-mono-italic {
    font-family: "Space Mono", monospace;
    font-style: italic;
  }
  

